.card-style:hover{
    cursor:pointer;
    transform:translateY(-10px);
    -webkit-box-shadow: 0 0 20px 10px grey;
    -moz-box-shadow: 0 0 20px 10px grey;
    box-shadow:0 0 20px 10px grey;
    transition: transform 0.5s;
}