.dropdown{
    text-align:left;
    color:black;
    background:white;
    font-weight:bold;
}

.dropdown-button{
    float:left;
    margin-top:8px;
    margin-bottom:8px;
    left:0px;
    margin-left:0px;
}

.icon{
    margin-left:12px;
}

.button1{
    color:white;
    background:rgb(192, 189, 189);
    font-weight:bold;

}

.button2{
    color:white;
    background:grey;
    font-weight:bold;
}
.heading{
    margin-top:32px;
    font-size:32px;
}
.reviews{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    background:rgb(233, 229, 229);
}